<dialog [open]="isDialogOpen" style="position: absolute; top: 50%; z-index: 999">
  <form [formGroup]="form" (ngSubmit)="save()">
    <div formArrayName="sounds">
      <div *ngFor="let ctrl of soundsArray.controls; let i = index" [formGroupName]="i" class="sound-item">
        <label>
          Название:
          <input formControlName="title" placeholder="Название звука" />
        </label>
        <label>
          URL:
          <input formControlName="fileUrl" placeholder="https://..." />
        </label>
        <label>
          Категория:
          <select formControlName="category">
            <option value="focus">Фокус</option>
            <option value="calm">Спокойствие</option>
          </select>
        </label>
        <button type="button" (click)="removeSound(i)">Удалить</button>
      </div>
    </div>

    <div class="actions">
      <button type="button" (click)="addSound()">Добавить звук</button>
      <button type="submit">Сохранить</button>
      <button type="button" (click)="close()">Закрыть</button>
    </div>

    <div class="import-export">
      <button type="button" (click)="exportSounds()">
        Сохранить список звуков как файл
      </button>
      <input #importLink
             type="text"
             placeholder="https://…/sounds.json" />
      <button type="button"
              value="https://raw.githubusercontent.com/nektobit/shumok/refs/heads/main/sounds.json"
              (click)="importFromUrl(importLink.value)">
        Загрузить список звуков по ссылке
      </button>
    </div>

  </form>
</dialog>

<button type="button" (click)="open()">Редактировать палитру звуков</button>
